{% extends "bootstrap/base.html" %}

{% block title %}
Фильтр изображений
{% endblock %}

{% block content %}
<nav class="navbar" style="background-color: #4B0082">
    <font color="white"><h2 align="center">Фильтр изображений</h2></font>
    <font color="white"><h3 align="center">Приложение переводит изображение в контурный рисунок</h3></font>
</nav>
<img src="/static/sketch/sketch.png" class="img-thumbnail center-block" alt="sketch" width="384" height="480">
<div class="form-row text-center">
    <div class="col-12">
        <a href="{{url_for('download_sketch')}}" class="btn btn-primary btn-lg" style="background-color: #4B0082">Скачать</a>
    </div>
</div>

{% endblock %}